@font-face {
    font-family: 'Ronzino';
    src: url('Ronzino-Bold.otf') format('opentype');
}

body{
    font-family: 'Ronzino';
    background-image: url(/5815630-3840x2160-desktop-hd-4k-wallpaper-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
#hi{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 5rem;
    background: -webkit-linear-gradient(45deg, hsl(0deg 98% 49%) 0%, hsl(16deg 99% 49%) 8%, hsl(22deg 94% 50%) 17%, hsl(25deg 92% 53%) 25%, hsl(28deg 91% 56%) 33%, hsl(31deg 89% 59%) 42%, hsl(34deg 87% 63%) 50%, hsl(36deg 84% 67%) 58%, hsl(39deg 82% 71%) 67%, hsl(42deg 80% 76%) 75%, hsl(46deg 79% 81%) 83%, hsl(50deg 81% 87%) 92%, hsl(55deg 94% 93%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


#here{
    font-size: 72px;
    background: -webkit-linear-gradient(        45deg,
    hsl(0deg 98% 49%) 0%,
    hsl(16deg 99% 49%) 8%,
    hsl(22deg 94% 50%) 17%,
    hsl(25deg 92% 53%) 25%,
    hsl(28deg 91% 56%) 33%,
    hsl(31deg 89% 59%) 42%,
    hsl(34deg 87% 63%) 50%,
    hsl(36deg 84% 67%) 58%,
    hsl(39deg 82% 71%) 67%,
    hsl(42deg 80% 76%) 75%,
    hsl(46deg 79% 81%) 83%,
    hsl(50deg 81% 87%) 92%,
    hsl(55deg 94% 93%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


