
@font-face {
    font-family: 'Ronzino';
    src: url('../Ronzino-Bold.otf') format('opentype');
}

body {
    background-color: rgb(247, 247, 247);
    font-family: 'Ronzino', sans-serif;
}


.Heading {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.img {
    width: 400px;
    position: sticky;
}

.bird-img3 {
    width: 428.5px;
    position: sticky;
}
.bird-wrapper {
    display: flex;
    justify-content: center;
    position: sticky;
}


.bird-text-wrapper {
    display: block;
}

.bird-text {
    display: flex;
    position: sticky;
    justify-content: center;
    
}