/*god I already know this will look like shit*/
header{
    background-color: #fb4f93;
    color:#005acd;
}
footer{
    background-color:#00c9c8;
    color:#d3fbd8;
}
body{
    background-color: #d3fbd8;
}
/*#h1{
    color: #000000;
}
#h2{
    color: #1f260d;
}
#h3{
    color: #1f260d;
}
#h4{
    color: #1f260d;
}
#h5{
    color: #000000;
}
    decided to toss this part haha
*/


/*It is April 25th 5:35AM(I forgot to log start time it was about 2 hours)
And I have finished my first css website!
I have to say It already looks way better than just html
Anyway I will probably do one more.
Update: it is 6am I have fully finished the website now had to comment a lot of it*/