.laying-fox {
    width: 500px;
}
.fox {
    display: block;
    width: 500px;
    margin: 0;
    border: 3px solid red;

}
.fox-wrapper {
    display: flex;
    border: 3px solid green;
    width: min-content;
}
figure {
    border: 3px solid black;
    margin: 0;
    width: min-content;
}