@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=WDXL+Lubrifont+SC&display=swap');


body {
    font-family: 'EB Garamond';
}
main {
    display: inline-block;
}

.hoverme-btn {
    background-color: gray;
    width: 400px;
    height: 160px;
    font-size: 50px;
    border: 0px solid black;
    text-align: center;
    color: white;
    border-radius: 999px;
    transition: all 0.3s;
}
.hoverme-btn:hover {
    border: 20px solid blue;
    outline: 20px solid rgb(255, 0, 0);
}
.hoverme-btn:active {
   transform: scale(0.90);
   border: 50px solid blue;
    
}

* {
    text-align: center;
}
