/*Ok so first of all can I just say I am so in love with the
fanasy font that I am going to use it on this website
anyway its 11:01 Apr 28 Mon and Im starting css!*/
@font-face {
    font-family: 'Winsideuz';
    src: url('Winsideuz.ttf') format('truetype');
}
@font-face {
    font-family:heaven;
    src: url(/Website998/Heaven-BF6517df7eae9ca.otf);
}
body{
    background-color: aqua;
}
img{
    width: 30rem;
}
h1{
    font-family: fantasy;
    color:bisque;
}
#no{
    font-family: sans-serif;
    font-size: 5rem;
    color:gray;
    border-style: inset;
    border-width: 0.5rem;
    border-color: gray;
    padding-left: 5rem;
    border-radius: 10rem;
}
#yes{
    font-family: heaven;
    font-size: 5rem;
    color:white;
    border-style: outset;
    border-width: 0.5rem;
    padding-left: 5rem;
    border-color: antiquewhite;
    border-radius: 5rem;
    right: 10px;
}
body.hell{
    background-color: black;
}
body.heaven{
    background-color: bisque;
}
div{
    background-color: white;
}
#Rl{    
    color: red;
    font: bold 5rem 'Winsideuz', sans-serif;
    border-style:ridge;
    border-width: 0.3rem;
    padding-left: 1rem;
    line-height: 30rem;
    border-color: black;
    border-width: 100rem;


    
}

/*Couldnt finish Il finish tommorow*/
#body{
    text-shadow: 15px 10px 10px black;
}