@font-face {
    font-family: 'Ronzino';
    src: url('Ronzino-Bold.otf') format('opentype');
}

body{
    font-family: 'Ronzino';
    background: rgb(30, 30, 30);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}

.heading{
    color: rgb(180, 177, 177);
    margin-top: 300px;
    margin-bottom: 300px;
    text-align: center;
    font-size: 15vw;
}

.subheading{
    color: rgb(180, 177, 177);
    text-align: center;
    font-size: 5vw;
    margin-top: 300px;
    margin-bottom: 300px;
}

.websites {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 200px;
}

.whiteborder {
    border: 2px solid rgb(180, 177, 177);
    border-radius: 2rem;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 80px;
    padding-left: 80px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.1s ease-in-out;
}

.whiteborder:hover {
    background: linear-gradient(45deg, hsl(0deg 98% 49%) 0%, hsl(16deg 99% 49%) 8%, hsl(22deg 94% 50%) 17%, hsl(25deg 92% 53%) 25%, hsl(28deg 91% 56%) 33%, hsl(31deg 89% 59%) 42%, hsl(34deg 87% 63%) 50%, hsl(36deg 84% 67%) 58%, hsl(39deg 82% 71%) 67%, hsl(42deg 80% 76%) 75%, hsl(46deg 79% 81%) 83%, hsl(50deg 81% 87%) 92%, hsl(55deg 94% 93%) 100%);
    color: black;
}

.whiteborder:active {
    border-style: inset;
    transform: scale(0.98);
}

.navbar {
    background-color: #2B2D42;
    position: fixed;
    height: 6rem;
    top: 0;
    width: 100%;
}
.navbar_title {
    display: flex;
    color: #F5F5F5;
    font-size: 1.5rem;
    align-items: center;
    justify-content: center;
}
.navbar_item {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    color: #2f4858;
    margin-left: 40px;
    margin-right: 40px;
}